[mysqld]
transaction_isolation="READ-COMMITTED"
default-time-zone='+02:00'

# Slow Query (@see https://mariadb.com/kb/en/slow-query-log-overview/)
log_output=FILE
slow_query_log
slow_query_log_file=/var/log/mysql/mysql-slow.log
long_query_time=5.0
log_queries_not_using_indexes=ON
